<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="javascript" href="/script.js"/>
    
    <title>RAD(ISH)</title>
    <nav class="navbar">
          <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </nav>
    <link rel="stylesheet" href="/style.css"/>
    </head>
  
  <body style="background-image: blue;">
    <!--<nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/data.html">Data</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product.html">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login.html">Login</a>
              </li>
            </ul>
          </div>
        </nav>-->

    <script>function openNav() {
  document.getElementById("mySidebar").style.width = "250px";
  document.getElementById("main").style.marginLeft = "250px";
}

/* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
function closeNav() {
  document.getElementById("mySidebar").style.width = "0";
  document.getElementById("main").style.marginLeft = "0";
}</script>
    <div id="mySidebar" class="sidebar">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="index.html">Home</a>
  <a href="data.html">Data</a>
  <a href="products.html">Products</a>
  <a href="#">Login</a>
</div>

<div id="main">
  <button class="openbtn" onclick="openNav()">&#9776; <!--Open Sidebar--></button>
</div>
    
      <h1 class="welcome">
      <b>WELCOME TO RAD(ISH)</b>
      <h1 class="smallText">
        <p>
          Reducing waste, one radish at a time
        </p>
        </h1>
        <div class="button">
        <a href="data.html">Input some data </a>

        </div>
        <h1 class="infoText">
          Rad(ish) is a business-facing web application focused on helping minimize waste. We know that small business owners across the United States are struggling to keep up with the technology
           and consumer demands. Additionally, we want to tackle the large issue of food waste, largely stemming from grocery stores throwing away older food. 
        </h1>
    </h1>
    <!--<p>
      Making selling efficient!
    </p>-->
    <p>
      <img class = "image1" src="https://cdn.glitch.com/e8a2e81f-aedd-4746-91ec-32de06442496%2FWebsite%20image.png?v=1602970551550" alt="radish"> 
    </p>
    <h1 class="infoText2">
          With Rad(ish), employees can easily manage and input grocery shipment data. With this program,  
          grocery items will automatically be repriced and put on sale, depending on how close its expiration date is. 
        </h1>
  </body>
  <div class="footer">
 <p style="  color:#5a5a5a; font-size:10px;">
   made with &lt3 by 0x10C2F | hackgt 2020
    </p> 
</div>
</html>