<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Welcome to Store</title>
    <nav class="navbar">
      <link
        rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous"
      />
    </nav>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  </head>
  <script>
    function openNav() {
      document.getElementById("mySidebar").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    }

    /* Set the width of the sidebar to 0 and the left margin of the page content to 0 */
    function closeNav() {
      document.getElementById("mySidebar").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
    }
  </script>
  <div id="mySidebar" class="sidebar">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"
      >&times;</a
    >
    <a href="index.html">Home</a>
    <a href="data.html">Data</a>
    <a href="products.html">Products</a>
    <a href="login.html">Login</a>
  </div>

  <div id="main">
    <button class="openbtn" onclick="openNav()">
      &#9776;
      <!--Open Sidebar-->
    </button>
  </div>
  <body>
  <h1 class="welcome">
    Products
  </h1>

    <div id="container">
      <div class="productBack">
        <div class="productHeader expiration">
          <p>
            Expires
          </p>
          <ul>
            {% for x in exp %}
                <li style="color:#ededed;font-size:20px; position:relative; left:-20px"> {{x}} </li>
            {% endfor %}
          </ul>
        </div>
        <div class="productHeader name">
          <p>
            Name
          </p>
          <ul>
            {% for x in name %}
                <li style="color:#ededed;font-size:20px;"> {{x}} </li>
            {% endfor %}
          </ul>
        </div>
        <div class="productHeader oldPrice">
          <p>
            Old Price
          </p>
          <ul>
            {% for x in oprice %}
                <li style="color:#b33d47;font-size:20px;font-style:regular"> ${{x}} </li>
            {% endfor %}
          </ul>
        </div>
        <div class="productHeader newPrice">
          <p>
            New Price
          </p>
          <ul>
            {% for x in nprice %}
                <li style="color:#558a5b;font-size:20px;"> ${{x}} </li>
            {% endfor %}
          </ul>
        </div>
        <div class="productHeader savings">
          <p>
            Savings
          </p>
          <ul>
            {% for x in save %}
                <li style="color:#558a5b;font-size:20px;"> -${{x}} </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </body>
  <div class="footer">
    <p style="  color:#5a5a5a; font-size:10px;">
      made with &lt3 by 0x10C2F | hackgt 2020
    </p>
  </div>
</html>

<!--
<body style="background-image: blue;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/data.html">Data</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/product.html">Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/login.html">Login</a>
              </li>
            </ul>
          </div>
        </nav>
    
    <h2 class="productHeader">
      No Products Available
    </h2>
-->
